{% extends 'base/base.html' %}
{% block title %}Join Event List{% endblock title %}
{% block breadcrumb %}Join Event List{% endblock breadcrumb %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-9">
                            <h5>Junte-se à lista de eventos</h5>
                        </div>
                        <div class="col-md-3">
                            <a class="btn btn-success" href="{% url 'add-event-member' %}">Adicionar membro do evento</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>                  
                          <tr>
                            <th style="width: 10px">#</th>
                            <th>Eventos</th>
                            <th>Membros</th>
                            <th>Participar do status</th>
                            <th>Status</th>
                            <th style="width: 40px">Ações</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for member in eventmember %}
                                <tr role="row">
                                    <td>{{ forloop.counter }}</td>
                                    <td>
                                        <a href="{% url 'event-detail' member.event.id %}">{{ member.event }}</a>
                                    </td>
                                    <td>{{ member.user }}</td>
                                    <td>{{ member.attend_status }}</td>
                                    <td>{{ member.status }}</td>
                                    <td>
                                        <a class="btn btn-danger" href="{% url 'remove-event-member' member.id %}">
                                            remove
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
