{% extends 'base/base.html' %}
{% block title %}Remove Event User Wish{% endblock title %}
{% block breadcrumb %}Remove Event User Wish{% endblock breadcrumb %}

{% block content %}
    <h1>Remover desejo do usuário do evento</h1>
    <form action="" method="post">{% csrf_token %}
        <p>Tem certeza de que deseja excluir "{{ eventuserwishlist.user }}" do "{{ eventuserwishlist.event }}" Evento?</p>
        <button class="btn btn-danger ml-2" type="submit">Confirmar</button>
    </form>
{% endblock content %}